@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  min-height: 100%;
}

:root {
  /* Light theme (default) */
  --background: #fafafa;
  --foreground: #333333;
}

/* Theme definitions */
html.dark {
  --background: #252525;
  --foreground: #ececec;
}

html.green {
  --background: #013b01;
  --foreground: #e7f3e7;
}

html.blue {
  --background: #2B2C2E;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.green):not(.blue) {
    --background: #252525;
    --foreground: #ececec;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

article.prose {
  max-width: 850px;
}

article.prose ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
article.prose ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}
