@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--background); /* Replace with your preferred color */
  margin: 0;
  padding: 0;
  min-height: 100%;
}

:root {
  --background: #fafafa;    /* light background */
  --foreground: #333333;    /* darker text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525; /* dark background */
    --foreground: #ececec;
  }
}

/* class-based dark mode toggle*/
html.dark {
  --background: #fafafa; /* dark background for class-based */
  --foreground: #333333;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

article.prose {
  max-width: 850px;
}

article.prose ul {
  list-style-type: disc;
  padding-left: 1.5rem;  /* matches ml-6 */
}
article.prose ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}
